h3 {
  font-family: helvetica;
  font-weight: 200;
}

.centered {
  font-family: helvetica;
  list-style: none;
  text-align: center;
}

.latest {
  margin-bottom: 0px;
  text-align: center;
  font-family: helvetica;
}

.latestitem {
  margin-top: 10px;
  font-family: helvetica;
  text-align: center;
}

.recentitems {
  margin-top: -10px
}

.recentlist {
  padding-left: 5px;
  font-family: helvetica;
}

.recentlistitem {
  list-style: none;
  font-family: helvetica;
  font-size: 13.5px;
  padding: 1px;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 150s;
  animation-duration: 150s;
}
.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}